@charset "utf-8";
/*  Indice
    
    [0]Definções Gerais
        [0.1]Reset de navegador
	
	[1]Especificações tipográficas tipográficas
		[1.1]tamanho, margens e transformações
		[1.2]cor
		
    [2] Especificações gerais
        [2.1]Displays
        [2.2]Alturas,larguras,margens,paddings e overflows
        [2.3]Posições,z-index,alinhamentos e floats
        [2.4]Fundos,sombras,bordas e cursores
		
	[3]Definições específicas
		[3.x]Destaques
		
	[4]Media Querries
		[4.x]Screens < 900
		
	[5]accessibility
		[5.x]Aural
__________________________________________________________________*/

/*  [0]Definções Gerais

    [0.1]reset de navegador
__________________________________________________________________*/
* {
	border:none;
	color:#6d6d6d;
	font-style:normal;
	font-weight:300;
	text-align:left;
	margin:0;
	padding:0
}
html {
	background:#0a1737;
	font:1em/1.35 'lato', sans-serif;
	min-width:340px;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%
}
article, aside, details, figcaption, figure, body>footer, body>header, hgroup, main, nav, section, summary {
	display:block
}
audio, canvas, video {
	display:inline-block
}
audio:not([controls]) {
	display:none;
	height:0
}
[hidden], template {
	display:none
}
script {
	display:none!important
}
a {
	background:transparent
}
a:focus {
	outline:thin dotted
}
a:active, a:hover {
	outline:0
}
b, strong {
	font-weight:700
}
dfn, i, em {
	font-style:italic
}
fieldset {
	border:none!important;
	margin:0!important;
	padding:0!important
}
hr {
	-moz-box-sizing:content-box;
	box-sizing:content-box;
	height:0
}
mark {
	background:#ff0;
	color:#000
}
code, kbd, pre, samp {
	font-family:monospace, serif;
	font-size:1em
}
pre {
	white-space:pre-wrap
}
q {
	quotes:\201C \201D \2018 \2019
}
small {
	font-size:80%
}
sub, sup {
	font-size:.75em;
	line-height:0
}
sup {
	top:-.5em
}
sub {
	bottom:-.25em
}
img {
	border:0
}
svg:not(:root) {
	overflow:hidden
}
figure {
	margin:0
}
fieldset {
	border:1px solid silver;
	margin:0 2px;
	padding:.35em .625em .75em
}
button, input, select, textarea {
	font-family:inherit;
	font-size:100%;
	margin:0
}
button, input {
	line-height:normal
}
button, select {
	text-transform:none
}
button, html input[type=button], input[type=reset], input[type=submit] {
	-webkit-appearance:button;
	cursor:pointer
}
button[disabled], html input[disabled] {
	cursor:default
}
input[type=checkbox], input[type=radio] {
	box-sizing:border-box;
	padding:0
}
input[type=search] {
	-webkit-appearance:textfield;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
	box-sizing:content-box
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
	-webkit-appearance:none
}
textarea {
	overflow:auto;
	vertical-align:top
}
table {
	border-collapse:collapse;
	border-spacing:0
}
legend, button::-moz-focus-inner, input::-moz-focus-inner {
	border:0;
	padding:0
}
:focus {
	border-bottom:2px solid red
}
input:focus, select:focus, textarea:focus {
	border-bottom:none
}
/*	[1]Definições tipográficas
	
	[1.1]tamanho, margens e transformações
__________________________________________________________________*/
div>h1, .contentList h3, #ulacoes span {
	font-family:'open sans condensed'
}
body, .sign {
	font-size:.8125em
}
#topo .auxNav,#ulacoes .noBorder {
	font-size:.85em
}
h1, #destaque h2 {
	font-size:3em
}
body>header .titulo h1, #main h1 {
	font-size:2.5em
}
h2, #home .deck.encap>div>h1, #home #featured h2 {
	font-size:2em
}
.contentList h3, #ulacoes span {
	font-size:1.75em
}
form legend, #acoespg .contentList h3, #accordion h3, #ulacoes .nomeAcao {
	font-size:1.5em
}
h3, h4, #destaque p, .obs, #ulacoes {
	font-size:1.25em
}
#home .card h2, #destaque h1, .social h1, #sendbtn, #home #contactCard span, .fisc h5 {
	font-size:1.125em
}
h5, h6, .featuredCtrl h2, #searchCtrl h2, #searchCtrl h3 {
	font-size:1em
}
table, span, div, input, select, textarea, td, a, pre {
	font-size:inherit
}
#featured p {
	line-height:1.6
}
h1, h2, h3, h4, h5, h6, h1 *, h2 *, h3 *, h4 *, h5 *, h6 *, body>header .menu li a, .card h2 a span, #accessBtn a, #mainMenu a, #siteMap span, #featured h2, #home #acoes h2, form legend, #contact form td:first-child label, #contact form td:first-child span, .obs, #contact input[type=button], span.type, #home #contactCard span {
	font-weight:700
}
.leiamais, .card h1, .card h2 a, #destaque p, #linguas a, #searchCtrl h2, #searchCtrl h3, #searchCtrl h2 span, #accordion .fisc h5, #accordion .fisc h5 span {
	font-weight:400
}
#contact #main ul li {
	margin: .5em 0 .5em 1em;
	text-indent: -.9em;
}
body>header h1 {
	margin:-.3em 0 .3em
}
#main h1 {
	padding:.5em 1.25%
}
#home .deck.encap>div>h1, #main .contentList header p {
	margin:.5em 0 0
}
#main ul, #main p {
	margin:1em 0
}
h2, #contact h2, #contact legend {
	margin:.25em 0
}
#featured h2 {
	margin:.35em 0
}
h4 {
	margin:1.5em 0
}
#contact .card>h2 {
	padding:1em 0 0
}
.single.card>.deck, #home #contactCard a, #home #cadastrese {
	margin:2em 0 0
}
nav ul, nav li, #featured ul, #featured li, .featuredCtrl li, #home #main p, .contentList header h3, #topo .auxNav #loginBtn, #siteMap ul li ul li, .contentList a>p, #searchCtrl p, #searchFilter ul, #acoespg .photoList p, #accordion .fisc p, #accordion .fisc .fisc h5, .single.card>.deck:first-child, #accordion .featuredCtrl p, #accordion .featuredCtrl ul, #ulacoes ul,#ulacoes .vejaMais span, #main .featuredCtrl {
	margin:0
}
nav li, #featured ul, #featured li, .featuredCtrl li {
	text-indent:0
}
.sectionTitle, #accessBtn a, #siteMap span, #home .deck.encap>div>h1 {
	text-transform:uppercase
}
body>header .titulo h1, #destaque h1, #destaque h2, .card h1, .card h2 {
	text-transform:none
}
a {
	text-decoration:none
}
ul {
	list-style:none
}
#home #acoesMap ul {
	list-style:disc inside
}
#contact #main ul li:before {
	content:"–	"
}
#contact #main form li:before {
	content:none
}
/*	[1.2]cor
__________________________________________________________________*/
#home .deck.encap>div>h1, #topo .auxNav *, #menuEncap #search, .contentList .type, #main h1, #accordion h3, #ulacoes span {
	color:#122051
}
#menuEncap *, body>footer *, #contact input[type=button], #home #contactCard span, #home #cadastrese input[type=submit], #searchLink {
	color:#fff
}
#home .card a, #home .smallDiv .card a p,#home #acoesMap li, #main h2, form legend, .contentList .leiaMais, #searchCtrl p, #searchCtrl h2, #searchCtrl h3, #searchFilter li, #searchCtrl span, .contentList h3, .contentTerm, #acoespg .type, #accordion h4, .fisc .smallDiv a, #ulacoes a {
	color:#004179
}
.obs {
	color:#fd0100
}
/*	[2]Especificações gerais

	[2.x]Displays
__________________________________________________________________*/
#menuEncap, #siteMap li, #fontSize.active, #acoes .card .vejaMais, #home #acoes h2 span, .charcount, #acoespg .leiaMais, #accordion>div.active, #accordion>h3 span, #home #contactCard a, #mapEncap a, #ulacoes .nomeAcao {
	display:block
}
#langSelect, #langSelect li, #loginBtn span, #topo .auxNav div, #menuEncap>div div, .credits li, .credits span, #mainMenu li, body>footer .encap>div>div, .social *, .deck .smallDiv, .deck .largeDiv, .deck hr, .featuredCtrl *, .vejaMais span, #destaques .smallDiv .card, form li, .celspace, #searchCtrl h2, #searchCtrl h3, #searchCtrl>div, #searchFilter ul, #searchFilter li, .photoList li, #home #contactCard span, .sumario span, .relatorio span {
	display:inline-block
}
#accessBtn figure {
	display:inline
}
#langSelect .selected, #accordion>div, #fontSize {
	display:none
}

.accessLink {
	opacity:0	
}
.accessLink:active, .accessLink:focus,.accessLink:hover {
	opacity:100!important
}

#searchFilter li, #accordion h3 {
	cursor:pointer;
}
/*	[2.x]Alturas,larguras,margens,paddings e overflows
__________________________________________________________________*/
#accessibility, .encap, #accessBtn, .deck hr, .smallDiv .card, .largeDiv .card, #home #destaques img, #home #acoes img, #contact form table, #contact legend, #accordion .active, #mapEncap a, #ulacoes .nomeAcao {
	width:100%
}
#accessibility, .encap, img, #siteMap ul li ul li {
	max-width:100%
}
.xLargeDiv, .deck>h2, #acoespg #accordion>h3 {
	width:98%
}
#accessibility .card {
	width:95%;
	padding:2em 2.5%;
}
.largeDiv {
	width:68%
}
.deck .largeDiv {
	width:66%
}
.single.card .deck .largeDiv {
	width:62%
}
.single.card .deck>div, .xLargeDiv, .deck>h2 {
	padding:0 1%
}
.smallDiv {
	width:32%
}
.featuredCtrl span, .vejaMais span, .sumario span, .relatorio span {
	width:20px;
	height:20px
}
.social span, #menuBtn {
	width:30px;
	height:30px
}
#accessibility>div, .encap>div, #main h1 {
	margin:auto
}
#langSelect, #langSelect li, #topo .auxNav div, #menuEncap>div div, .credits li, .credits span, #mainMenu li, body>footer .encap>div>div, #home #cadEmail {
	margin-right: -.3em /*Inline-block adjust*/
}
#contact #main input[type=text], #contact #main input[type=button], #searchCtrl select, #accordion .fisc .smallDiv span {
	margin-right:1em;
}
#searchCtrl h3, #destaques .data,#ulacoes .vejaMais span {
	margin-right:.3em
}
.accessLink {
	margin-left:-.85em	
}
.encap>div, #main h1 {
	max-width:960px;
	width:97.5%;
}
#main .encap>div {
	padding:0 1.25% .75em
}
#accessibility>div {
	width:75%;
	max-width:540px;
	padding:2.5%
}
.card>div, #langSelect li, #destaques .smallDiv p {
	padding:0 1em;
}
#main input[type=button], #main input[type=submit] {
	padding:.4em .7em
}
#main input[type=text], #main select {
	padding:.3em
}
#searchCtrl, #home #main h1 {
	padding:0;
}
#featured, .photoList li {
	overflow:hidden;
}
/*	[2.x]Posições,z-index,alinhamentos e floats
__________________________________________________________________*/
#accessibility, #accessBtn, #searchLink {
	position:absolute
}
#accessibility .card, #menuEncap .auxNav [type=submit], body>header #menuEncap, #accordion .active {
	position:relative
}
#accessBtn, #accessibility.active {
	left:0
}
#accessibility .active {
	left:auto
}
#accessibility, #accessList, #fontSize {
	left:-200%
}
#accessibility {
	top:5%
}
#accessibility .card {
	z-index:9999
}
p, #accessibility, .deck>div, #destaques .smallDiv {
	text-align:justify
}
#accessibility, #accessBtn, #home #contactCard a, #mapEncap a {
	text-align:center
}
.credits ul, #menuEncap .auxNav form, .social, #acoes .card .vejaMais, #contact form td:first-child, #searchCtrl form, .contentList .leiaMais, #searchFilter {
	text-align:right
}
#contact form td[colspan="2"], #acoespg .vejaMais, #home #main p {
	text-align:left!important;
}
.wSub, #featured li, #home #pub img {
	float:left
}
#loginBtn, #menuEncap .auxNav [type=submit], #home #acoes h2 span, #searchFilter, #accordion>h3 span {
	float:right
}
#menuEncap>div div, #siteMap ul li, .encap>div>div, #contact form td, .deck>div, .photoList li, .smallDiv, .largeDiv {
	vertical-align:text-top
}
.credits li, #main input[type=button], #main input[type=submit] {
	vertical-align:middle
}
.featuredCtrl span, #searchFilter, .vejaMais span {
	vertical-align:bottom
}
.relatorio span, .sumario span {
	vertical-align:text-bottom
}
#contact #main input[type=button], #contact #main input[type=submit] {
	vertical-align:baseline
}
/*	[2.x]Fundos,sombras,bordas e cursores
__________________________________________________________________*/
#topo {
	background:#98d3e1
}
#contact input[type=button] {
	background:#4ec6f8
}
#contact #sendbtn, #home #contactCard span, #home #cadastrese input[type=submit] {
	background:#01437d
}
#menuEncap, body>footer {
	background:#0a1737
}
#destaques, #acoesMap {
	background:#cee2ee
}
#main, #acoes {
	background:#eef3f6
}
#sociais {
	background:#b8d6e9
}
#accordion .active {
	background:#f4f4f4
}
.card {
	background:#fff
}
.credits span, #loginBtn span, #menuEncap .auxNav [type=submit], .social span, .featuredCtrl span, .vejaMais span, #home #acoes .card h2 span, #menuBtn, #accordion>h3 span, .relatorio span, .sumario span {
	background:url(img/sprites.png) no-repeat;
}
.TCERJ span {
	background-position:-48px 0
}
.TCMRJ span {
	background-position:-113px 9px
}
#loginBtn span {
	background-position:-20px -35px
}
#menuEncap .auxNav [type=submit] {
	background-position:0 -37px
}
.facebook span {
	background-position:-47px -26px
}
.twitter span {
	background-position:-82px -26px
}
.instagram span {
	background-position:-117px -26px
}
.youtube span {
	background-position:-152px -26px
}
.filterNews span {
	background-position:0 -61px
}
.filterPic span {
	background-position:-25px -61px
}
.filterVid span {
	background-position:-50px -61px
}
.filterAud span {
	background-position:-75px -61px
}
.vejaMais span {
	background-position:-100px -61px
}
#menuBtn {
	background-position:-125px -61px
}
#home #acoes h2 span {
	background-position:-173px -59px!important
}
#accordion>h3 span {
	background-position:0 -81px
}
#accordion>h3.active span {
	background-position:-27px -81px
}
.relatorio span, .sumario span {
	background-size:121px 66px;
	background-position:-82px -40px
}
body>header #menuEncap {
	box-shadow:0 6px 10px -4px #666
}
.card {
	box-shadow:0 0 10px -2px #666
}
#home #acoesMap {
	box-shadow:none
}
#sendencap {
	border-top:#bebec0 solid 1px
}
body>footer {
	border-bottom:#98d3e1 solid 20px
}
#contact legend, #searchCtrl, .contentList>li, #accordion h3,#main .fisc>li, #ulacoes li li, #ulacoes .nomeAcao {
	border-bottom:#bebec0 solid 1px
}
#langSelect li, #searchFilter li {
	border-left:#0f2151 solid 1px
}
#footerCrdt {
	border-left:#ffffff solid 1px
}
input[type=text], select, textarea {
	border:#bebec0 solid 1px
}
.noBorder, fieldset, #searchFilter li:first-child, #acoespg .contentList>li, #acoespg #accordion>h3.active, .auxNav input {
	border:none!important
}
/*	[3]Definições específicas
__________________________________________________________________*/

/*	[3.x]Topo
__________________________________________________________________*/
#topo {
	padding:10px 0;
	min-height:16px;
}
#langSelect .noBorder {
	padding-left:0
}
#accessBtn {
	height:0
}
#loginBtn span {
	width:14px;
	height:17px
}
.credits {
	margin-right:-.45em;
}
.credits li {
	margin:0 1em
}
.credits li:first-child {
	margin:0 1em 0 0
}
.TCU span {
	width:42px;
	height:34px
}
.TCERJ span {
	width:60px;
	height:19px
}
.TCMRJ span {
	width:71px;
	height:30px
}
#menuEncap {
	padding:3em 0 .75em
}
#mainMenu li {
	margin:0 .4em
}
#mainMenu li:first-child {
	margin-left:0;
}
#menuEncap .auxNav form {
	margin:1em 0 0
}
#search {
	width:96%;
	padding:.3em 2%
}
#searchLink {
	width: .5em;
	margin-left:-1.5em;
	padding: 1.2em .2em .2em
}
#menuEncap .auxNav [type=submit] {
	width:15px;
	height:15px;
	top:-17px;
	right:.5em
}
/*	[3.x]Principal
__________________________________________________________________*/
.deck .card {
	margin:1.25em 0 0
}
.single.card {
	margin: 0 0 4em;
	padding: 2em 2%;
}

/* HOME */
#home .encap.deck {
	padding: .5em 0
}
#destaques .smallDiv .card {
	padding-bottom:.3em
}
#featured div {
	padding:1em 1em 2.5em
}
#acoes .card {
	min-height: 290px
}
#acoesMap .card {
	min-height: 220px
}
#featured ul {
	width:400%
}
#featured li {
	width:25%
}
.featuredCtrl span, .vejaMais span {
	margin:0 .5em 0 1em
}
.vejaMais {
	margin: .5em 0
}
.featuredCtrl div {
	padding: 0.8em 1em 0.9em
}
#acoes .card h2, #acoesMap .card h2 {
	margin: 1em 0
}
#home #acoesMap li {
	margin: 0 0 .5em;
	padding:0 0 0 1em
}
#mapEncap img {
	padding:3% 0;	
}
#home #pub img {
	margin: 0 1em 1em 0;
}
#home #acoes h2 span {
	width:11px;
	height:22px
}
#home #acoes .card p {
	margin: .75em 0 0
}
#home #cadEmail {
	width:60%;
	padding:.3em .3em .4em
}

/* AÇÕES */
#acoespg .vejaMais span {
	margin-left:0
}
#acoespg .photoList li {
	width:48%;
	margin:0 0 1% 1%
}
#acoespg .mediaList>div {
	margin: 0 0 2.5em;
	padding:0 0 1em
}
#acoespg #accordion>h3 {
	margin:0 1% .75em;
}
#acoespg #accordion>div.active {
	left: -3.5%;
	padding: 1em 3.5% 2em;
	margin:0 0 1.2em
}
#acoespg #accordion h3.active {
	left: -4.5%;
	padding: 1em 4.5% 0;
	margin: 0 1%
}
#accordion .fisc .featuredCtrl li:first-child span {
	margin-left:0
}
#accordion>h3 span {
	width:22px;
	height:22px
}
#main .fisc {
	margin:0 0 1em;
}
.fisc li {
	margin:1em 0 1.5em;
}
.fisc li li {
	margin:.5em 0 1.5em;
}
.single.card .fisc .deck>.largeDiv {
	padding:0 2% 0 0;
}
#accordion .fisc .sumario {
	margin-bottom:.3em
}
/* TODAS AS AÇÕES */
#ulacoes>li {
	margin:0 0 2em	
}
#ulacoes li li, #ulacoes .nomeAcao{
	padding:.5em 0	
}
#ulacoes li:first-child .nomeAcao {
	padding:0 0 .5em	
}

/* CONTATOS */
#sendencap {
	margin:1em 0;
	padding:1em .3em 0;
}
#contact form td:first-child, .celspace {
	width:33%;
}
#contact form td {
	padding:.3em;
}
#contact #main input[type=text], #contact #main select, #contact #main textarea {
	width:80%
}
#contact #main input[type=radio] {
	margin:0 .5em 0 1em;
}
#contact #main li:first-child input[type=radio] {
	margin-left:0;
}
#contact #main fieldset:first-child input[type=text] {
	width:20em;
}
#contact #main fieldset:first-child select {
	width:21.2em;
}
#contact #main input[type=text], #contact #main input[type=button] {
	margin-right:1em;
}
#contact #main input[type=text], #contact #main select, #contact #main textarea {
	padding:.5em
}
#contact #main input[type=button] {
	padding:.5em 1.75em;
}
#contact #sendbtn, #home #contactCard span {
	padding:.5em 3em;
}

/* BUSCA */
.contentTerm:before {
	content:open-quote
}
.contentTerm:after {
	content:close-quote
}
#searchFilter {
	width:50%
}
.contentList header {
	margin-bottom:.5em
}
#searchCtrl h2 {
	margin-bottom:.3em
}
#searchFilter li {
	padding:0 .5em
}
#searchFilter .selected {
	padding-right:1.5em
}
.contentList li, #searchCtrl {
	padding-bottom:1em
}
.photoList ul {
	margin-left:-1%
}
#searchpg .photoList li {
	width:18.5%;
	min-width:128px;
	margin:0 0 1% 1%
}

/*	[3.x]Rodapé
__________________________________________________________________*/
body>footer {
	padding:2.85em 0 2em
}
#siteMap ul li {
	margin:0 7.5% .75em 0
}
#siteMap ul li ul li:first-child {
	margin:.75em 0 0
}
.social {
	padding:37% 0 0
}
.social span {
	margin:0 2.5px;
}
.social h1 {
	margin:0 .75em;
}

/*	[4]Media Querries
	
	[4.x]Screens < 900
__________________________________________________________________*/

@media screen and (max-width:900px) {
	 #mainMenu nav {
		 background:#0a1737;
		 box-shadow:-45px 0 35px -40px #000 inset;
		 height:999em;
		 width:33%;
		 overflow:hidden;
		 padding-top:3em;
		 position:fixed;
		 top:0;
		 left:-33%;
	}
	#mainMenu nav:before {
		content:"Menu";
		font: 2.5em 'open sans condensed';
		margin-left: .2em;
		padding-bottom: .5em;
	}
	 #mainMenu li,#mainMenu nav:before {
		 display:block;
	}
	 #menuBtn {
		 display:inline-block;
		 margin-right:.5em;
	}
	 #mainMenu li, #mainMenu li:first-child {
		 margin: .5em 0;
		 padding: .5em;
		 border-bottom:#46567C solid 1px
	}
}

/*	[4.x]Screens < 760
__________________________________________________________________*/

@media screen and (max-width:760px) {
	 .largeDiv, .deck .largeDiv, #destaques .smallDiv, body>footer .smallDiv, #acoesMap .smallDiv:first-child {
		 width:100%
	}
	 body>header .largeDiv {
		 width:60%
	}
	 .smallDiv, #destaques .smallDiv .card {
		 width:49%
	}
	 body>header .smallDiv {
		 width:40%
	}
	 #mainMenu h1 {
		 font-size:2.5em;
	}
	 body>header .auxNav {
		 position:relative;
		 right:0
	}
	 .social {
		 float: left;
		 margin: -2.5em 0 0;
		 padding: 0;
	}
	 #footerCrdt {
		 margin: 1em 0;
		 padding: 1em 0 0;
		 border-top:#ffffff solid 1px;
		 border-left:none;
	}
	 .social h1 {
		 margin: 0 .75em 0 0;
	}
	 #acoes .card .vejaMais {
		 padding:0 0 1em;
	}
}

/*	[4.x]Screens < 540
__________________________________________________________________*/

@media screen and (max-width:540px) {
	 .credits, #footerCrdt {
		 text-align:center
	}
	 body>header .smallDiv, body>header .largeDiv {
		 width:100%
	}
	 .social, .credits ul {
		 display:inline-block
	}
	 #menuEncap .auxNav {
		 display: block;
	}
	 .social, body>header .auxNav {
		 float: none;
	}
	 .credits ul {
		 margin:auto;
	}
	 body>footer .social {
		 margin: .5em auto 0;
	}
	 body>header .credits, #menuEncap .auxNav, #menuEncap .auxNav form {
		 text-align:left;
	}
	 #mainMenu h1 {
		 margin: -.3em 0 1em;
	}
	 #mainMenu nav {
		 width:80%;
		 left:-80%;
	}
	 #search {
		 width: 65%;
	}
	 #menuEncap .auxNav [type=submit] {
		 top: 3px;
		 left: -33%;
	}
}

/*	[4.x]Screens < 400px
__________________________________________________________________*/

@media screen and (max-width:470px) {
	 .smallDiv, #destaques .smallDiv .card {
		 width:100%
	}
		 #home .featuredCtrl>div>*, #home .featuredCtrl li {
		 display:block
	}
	 #home .featuredCtrl li {
		 margin:0 0 .75em;
	}
}

/*	[5]accessibility
	[5.x]Aural
__________________________________________________________________*/

@media aural {
	#fontSize {
		display:none;
	}
	.aural {
		display:auto;
	}
}